@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('clash-display.css');
@import url('satoshi.css');
h1, h2, h3,h4,h5,h6{
  font-family: 'ClashDisplay-Bold'
}
body{
  font-family: 'Satoshi-Regular';
}
nav ul li{
margin-right: 1.5rem;
}
@layer components {
  .page-container{
    @apply md:max-w-[60rem] lg:max-w-[74rem] mx-auto px-8;
  }
  .nav-link{
    @apply hover:text-white active:text-white cursor-pointer;
  }
  .white_button{
    @apply px-6 py-2 rounded-sm bg-[#ffffff] text-[#004DB3] font-bold text-xs
  }
  .blue_button{
    @apply px-6 py-3 rounded-sm text-[#ffffff] bg-[#004DB3] font-bold text-xs
  }
}
.slick-initialized { overflow: hidden; }
.slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -27px;
}
.slick-dots {
  bottom: 25px;}
  .slick-dots li button:before {
    color: #CCDBF0;
  }
  .slick-dots li.slick-active button:before {
    color:#004DB3 !important;
}
.slick-slider {
  height: 24rem;
}